* {
    padding: 0;
    margin: 0;
}

.square {
    background-color: var(--tird-color);
    color: var(--second-color);
    width: 13rem;
    height: 5rem;

    border-radius: 0.7rem;

    .top {
        display: flex;
        justify-content: space-around;

        margin: 0.5rem;

        img {
            width: 1rem;
        }
    }

    .content {
        display: flex;
        justify-content: center;

        font-weight: 900;
        margin-top: 1.5rem;

    }
}