* {
    padding: 0;
    margin: 0;
}


.content {
   margin: auto;
   margin-top: 2rem;
   max-width: 780px;



    section table{
       
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }

        .btnExcluir {
            background-color: var(--tird-color);
            color: var(--second-color);
            padding: 2px;
            min-width: 5rem;;

            font-size: 0,5rem;
            border: solid 1px var(--second-color);
            border-radius: 0.5rem;
            cursor: pointer;

        }

        .btnExcluir:hover{
            background-color: var(--second-color);
            border: solid 1px var(--primary-color);
            color: var(--primary-color);
            
            
    
        }

        th {
            text-transform: uppercase;
        }
        
        td, th {
            width: 20rem;
            border: 1px solid #dddddd;
            text-align: center;
           
            padding: 8px;
        }
        
        tr:nth-child(even) {
        background-color: #dddddd;
      
    }
}
